$sidebar-id: 'workbench.parts.sidebar';
$auxiliarybar-id: 'workbench.parts.auxiliarybar';
$editor-id: 'workbench.parts.editor';
$titlebar-id: 'workbench.parts.titlebar';
$banner-id: 'workbench.parts.banner';
$statusbar-id: 'workbench.parts.statusbar';
$panel-id: 'workbench.parts.panel';

$cursor-border-radius: 2px;
$border-radius-lg: 8px;
$border-radius-md: 6px;
$border-radius-sm: 4px;
$separator-width: 0px;
$separator-color: #373d48;

$scrollbar-thickness: 8px;
$scrollbar-border-radius: 999px;

$icon-button-container-height: 40px;
$icon-button-size: 20px;

$icon-button-wrapper-gap: 8px;
$icon-button-wrapper-border-radius: 6px;
$icon-button-wrapper-size: 32px;

$icon-button-and-content-gutter: 0px;

$screen-edge-gutter: 5px;
$internal-gutter: $screen-edge-gutter;
$main-split-view-gutter: $screen-edge-gutter;

$titlebar-search-box-font-size: 13px;
$titlebar-search-box-min-width: 275px;
$titlebar-search-box-padding: 0 15px;

$editor-action-size: 16px;

$pane-header-accordion-height: 36px;

$active-tab-editor-background: #323842;
$hovered-tab-editor-background: #282d35;

$sticky-background: #272b32;

$tab-height: 31px;
$tab-gutter: 3px;

$general-trans-props: top, left, width, height;
$general-trans-duration-medium: 125ms;
$general-trans-duration-long: 175ms;
$general-trans-duration-short: 100ms;
$general-trans-duration-extra-short: 75ms;

$command-palette-duration: $general-trans-duration-short;
$active-row-duration: 125ms;
$tabs-duration: 150ms;

$popup-background: #282c34;
$panel-background: #1b1f23;
$status-bar-item-gap: 6px;
$status-bar-item-height: 25px;
$diff-viewport-width: 20px;

$watermark-width: 550px;
$watermark-height: 200px;

$windows-one-drive-path: '/C:/Users/minht/OneDrive';
$macos-one-drive-path: '/Users/Hareki/Library/CloudStorage/OneDrive-Personal';
$one-drive-common-path: '/Cloud Storage/Settings/VSCode';

$watermark-dark-path: $one-drive-common-path + '/dist/watermark-dark.png';
$watermark-light-path: $one-drive-common-path + '/dist/watermark-light.png';

$status-bar-background: #23272e;

$error-background: #3f353f;
$error-foreground: #f44747;

// $vim-mode-background: #323842;

$date-time-foreground: #98c379;
$date-time-background: #98c37917;

$vim-input-height: 22px;

$vim-mode-width: 110px;
$vim-mode-input-width: 200px;
$vim-mode-foreground: #e5c07b;
// can't use opacity here since we're covering the native content with a custom one
// $vim-mode-background: #e5c07b17;
$vim-mode-background: #353435;

$vim-pending-input-width: 50px;

$vim-info-foreground: #61afef;
$vim-info-background: #61afef17;

$vim-pending-foreground: #e06c75;
$vim-pending-background: #e06c7517;

$vim-normal-mode: '-- NORMAL --';
$vim-insert-mode: '-- INSERT --';
$vim-visual-mode: '-- VISUAL --';
$vim-visual-line-mode: '-- VISUAL LINE --';
$vim-visual-block-mode: '-- VISUAL BLOCK --';

$vim-normal-mode-replacement: 'NORMAL';
$vim-insert-mode-replacement: 'INSERT';
$vim-visual-mode-replacement: 'VISUAL';
$vim-visual-line-mode-replacement: 'VISUAL LINE';
$vim-visual-block-mode-replacement: 'VISUAL BLOCK';

$status-bar-item-info-padding: 2px 3px 2px;

$breadcrumb-item-gap: 5px;
$breadcrumb-height: 30px;
