/* --------------------------------- Styles --------------------------------- */
.title.tabs {
  &:has(> .tabs-and-actions-container > .monaco-scrollable-element div.tabs-container[role='tablist']) {
    --editor-group-tab-height: #{$tab-height} !important;
    margin-bottom: $internal-gutter;
  }

  > .tabs-and-actions-container > .monaco-scrollable-element div.tabs-container[role='tablist'] {
    & + [role='presentation'] > .slider:not(#\9) {
      height: 3px;
    }

    > .tab[role='tab'] {
      margin-right: $tab-gutter;
      border-right: none;
      border-radius: $border-radius-md;
    }
  }
}

/* ------------------ Active and hover background for tabs ------------------ */
.title.tabs {
  > .tabs-and-actions-container
    > .monaco-scrollable-element
    div.tabs-container[role='tablist']
    > .tab.active[role='tab']:not(#\9):not(#\9) {
    background-color: $active-tab-editor-background;
  }
}

.title.tabs {
  > .tabs-and-actions-container
    > .monaco-scrollable-element
    div.tabs-container[role='tablist']
    > .tab[role='tab']:not(#\9):not(#\9):hover {
    background-color: $hovered-tab-editor-background;
  }
}

/* --------------------------------- Search --------------------------------- */
.search-view .query-details.more h4 {
  font-weight: 600;
}

/* ------------------------------- Hover popup ------------------------------ */
.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) {
  border-top: 1px solid $separator-color;
}

.monaco-editor .monaco-hover {
  border-radius: $border-radius-md;

  .monaco-hover-content {
    background-color: $popup-background;
  }
}

/* ------------------------------- Find widget ------------------------------ */
.monaco-editor .find-widget {
  background-color: #282c34;
  border-radius: $popup-background;

  .monaco-sash {
    background-color: $popup-background;
  }
}

/* -------------------------------- Watermark ------------------------------- */
.monaco-workbench .part.editor > .content .editor-group-container > .editor-group-watermark {
  max-width: $watermark-width;
}

.monaco-workbench .part.editor > .content .editor-group-container > .editor-group-watermark > .letterpress {
  height: $watermark-height;
  opacity: 0.8;
  background-position: center;

  background-image: url($windows-one-drive-path + $watermark-light-path),
    url($macos-one-drive-path + $watermark-light-path);
}

.monaco-workbench.vs-dark .part.editor > .content .editor-group-container > .editor-group-watermark > .letterpress {
  background-image: url($windows-one-drive-path + $watermark-light-path),
    url($macos-one-drive-path + $watermark-light-path);
}

/* ------------------------------- Breadcrumb ------------------------------- */
.breadcrumbs-below-tabs {
  height: $breadcrumb-height;
}

.monaco-breadcrumbs {
  gap: $breadcrumb-item-gap;
}

.monaco-breadcrumbs .monaco-breadcrumb-item .codicon-breadcrumb-separator {
  margin-left: $breadcrumb-item-gap;
}

/* ------------------------ Git blame inline message ------------------------ */
// .monaco-editor span[class*='ced-1-TextEditorDecorationType']:not(#\9):not(#\9):not(#\9)::after {
//   color: #99999959;
// }

/* ----------------------- Hide editor action buttons ----------------------- */
/* .title.title.tabs > .tabs-and-actions-container .editor-actions {
  display: none;
} */

/* ----- Hide squiggly (wavy) lines while maintain the color in minimap ----- */
/* .squiggly-error,
.squiggly-warning,
.squiggly-info {
  display: none;
} */
